<div class="profile col-md-6">
	<div class="text-center fadeIn">
		<h1 id="nav-tabs">Welcome!</h1>
	</div>
	<div class="panel panel-default">
		<ul class="nav nav-tabs" style="margin-bottom: 15px;">
			<li class="active"><a href="#home" data-toggle="tab">About Me</a></li>
			<li><a href="#skills" data-toggle="tab">Skills</a></li>
			<li><a href="#facts" data-toggle="tab">Interests</a></li>
		</ul>
		<div id="myTabContent" class="tab-content panel-body">
			<div class="tab-pane fade active in" id="home">
				<p><img class="img-responsive img-circle" src="assets/picture.jpg"></p>
				<p>I am a Ruby on Rail Developer currently living in Seatle with a background in Social/Cyber Psychology. I studied at <a href="http://www.codefellows.org">Code Fellows</a> in 2013 and have a Bachelors of Science in Psychology from the <a href="http://www.umd.edu/">University of Maryland</a>.</p>
				<p>My mission is to bridge the gap between Psychology and Technology to create a more human orientated experience</p>
				<div class="text-center">
					<h4>Get in Touch:</h4>
	        <%= link_to image_tag("email.png"), "mailto:jameschuang13@gmail.com" %>
	        <%= link_to image_tag("github.png"), "https://github.com/hiddensanctum" %>
	        <%= link_to image_tag("linkedin.png"), "http://www.linkedin.com/pub/james-chuang/49/249/564" %>
	        <%= link_to image_tag("twitter.png"), "https://twitter.com/N3dd1h" %>
	      </div>
			</div>
			<div class="tab-pane fade text-center" id="skills">
			    <div class="row">
			    	<h3>Skills</h3>
			      <div class="col-lg-3">
			        <img class="img-responsive img-portfolio" src="assets/rubyonrails.png">
			        Ruby on Rails
			      </div>
			      <div class="col-lg-3">
			        <img class="img-responsive img-portfolio" src="assets/html.png">
			        HTML
			      </div>
			      <div class="col-lg-3">
			        <img class="img-responsive img-portfolio" src="assets/css.png">
			        CSS
			      </div>
			      <div class="col-lg-3">
			        <img class="img-responsive img-portfolio" src="assets/javascript.png">
			        Javascript
			      </div>
			    </div>
			    <%= render 'proficiency' %>
			</div>
			<div class="tab-pane fade panel-body" id="facts">
			    <div class="row">
			    	<div class="text-center">
			    		<h3>Other Interests</h3>
			    	</div>
			    	<p><i class="glyphicon glyphicon-user"></i> Avid Gamer</p>
			    	<p><i class="glyphicon glyphicon-globe"></i> Fluent in Mandarin Chinese</p>
			    	<p><i class="glyphicon glyphicon-film"></i> Anime/Dramas</p>
			    	<p><i class="glyphicon glyphicon-headphones"></i> Music = Love </p>
			    	<p><i class="glyphicon glyphicon-plane"></i> Travel</p>
			    </div>
			</div>
		</div>
	</div>
</div>
