<div class="container">
  <div class="grid grid-1_5 trout">
        <h1>James Chuang</h1>
        <h6>Full Stack Developer</h6>
        <div class="row">
          <p>I am a Full Stack Developer currently living in Seatle with a background in Social/Cyber Psychology. I studied at <a href="http://www.codefellows.org">Code Fellows</a> in 2013 and have a Bachelors of Science in Psychology from the <a href="http://www.umd.edu/">University of Maryland</a>.</p>
          <p>My mission is to bridge the gap between Psychology and Technology to create a more human orientated experience</p>
          <div class="text-center">
            <h4>Get in Touch:</h4>
            <%= link_to image_tag("email.png"), "mailto:jameschuang13@gmail.com" %>
            <%= link_to image_tag("github.png"), "https://github.com/hiddensanctum" %>
            <%= link_to image_tag("linkedin.png"), "http://www.linkedin.com/pub/james-chuang/49/249/564" %>
            <%= link_to image_tag("twitter.png"), "https://twitter.com/N3dd1h" %>
          </div>
        </div>
  </div>
  <div class="grid grid-2_5 blue">
        <h3>Other Skills</h3>
        <ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3 text-center">
          <li><img class="img-responsive img-portfolio" src="assets/chinese.png">Fluent in Mandarin Chinese</li>
        </ul>
        <h3>Interest</h3>
        <ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3 text-center">
          <li>
            <img class="img-responsive img-portfolio" src="assets/Airplane.png">
            <span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="I love to travel!">Travel</span>
          </li>
          <li>
            <img class="img-responsive img-portfolio" src="assets/Games.png">
            <span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="From RPGs to Racing Simulators, As long as it has a good story I am there">Avid Gamer</span>
          </li>
          <li>
            <img class="img-responsive img-portfolio" src="assets/Videos.png">
            <span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="I enjoy Anime and Asian Dramas in my spare time. A big fan of Sci-fi stuff too like Firefly!">Anime & Drama</span>
          </li>
          <li>
            <img class="img-responsive img-portfolio" src="assets/Camera.png">
            <span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="I consider myself an amauter photographer, I would love to learn more though">Photography</span>
          </li>
          <li>
            <img class="img-responsive img-portfolio" src="assets/Headphones.png">
            <span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="Music is a big part of my life. Although I am not good at playing, I couldn't imagine my life without music">Music</span>
          </li>
          <li>
            <img class="img-responsive img-portfolio" src="assets/iPhone.png">
            <span data-tooltip data-options="disable_for_touch:true" class="has-tip tip-top" title="The latest and greatest gadgets are awesome">Gadgets</span>
          </li>
        </ul>
        <div class="text-center">
          <%= link_to "More", posts_path, class: "button" %>
        </div>
  </div>
  <div class="grid grid-3_5 darkblue">
        <h3>Latest Blog Post</h3>
        <h5><%= l @post.created_at, format: :long %></h5>
        <h4><%= @post.title %></h4>
        <p><%= truncate_html(markdown(@post.body), length: 400, omission: '...(continued)') %></p>
        <div class="text-center">
          <%= link_to "More", posts_path, class: "button" %>
        </div>
  </div>
  <div class="grid grid-4_5 lightblue">
        <h3>Technical Skills</h3>
        <ul class="small-block-grid-3 medium-block-grid-3 large-block-grid-3 text-center">
          <% @tskills.each do |tskill| %>
            <li>
              <%= image_tag(tskill.skill_icon_url.to_s, class: "img-responsive") %>
              <span><%= tskill.name %></span>
              <% if tskill.exploring %>
                <span>(exploring)</span>
              <% end %>
              <p>
                <% if current_user.present? %>
                  <%= link_to image_tag("edit.png"), edit_tskill_path(tskill) %>
                  <%= link_to image_tag("delete.png"), tskill, method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </p>
            </li>
          <% end %>
          <li>
            <% if current_user.present? %>
              <h6><%= link_to image_tag("new.png") + "New Technical Skills", new_tskill_path %></h6>
            <% end %>
          </li>
        </ul>
        <div class="text-center">
          <%= link_to "More", posts_path, class: "button" %>
        </div>
  </div>
  <div class="grid grid-5_5">
        <h3>Latest Project</h3>
        <h4><%= @project.title %></h4>
        <div class="img-monitor">
          <img class="img-responsive img-monitor" src="assets/monitor.png">
          <%= image_tag(@project.image_url(:thumb).to_s, class:"img-responsive img-website") %>
          <!-- <img class="img-responsive img-website" src="assets/cover.jpg"> -->
        </div>
        <p><%=truncate_html(markdown(@project.description.to_s), length: 400, omission: '...(continued)') %></p>
        <div class="text-center">
          <%= link_to "More", projects_path, class: "button" %>
        </div>
  </div>
</div>
