<div class="row">
	<div class="medium-2 large-2 column text-right">
		<h3>Projects</h3>
		<% if current_user.present? %>
			<h6><%= link_to image_tag("new.png") + "New Project", new_post_path %></h6>
		<% end %>
	</div>
	<div class="medium-10 large-10 column">
		<ul class="small-block-grid-2 medium-block-grid-2 large-block-grid-2 text-center">
			<% @projects.reverse_each do |project| %>
				<li>
					<a href="#" class="th" data-reveal-id="<%= project.id %>">
						<%= image_tag project.image_url(:thumb).to_s %>
						<h6><%= project.title %></h6>
					</a>
					<% if current_user.present? %>
						<%= link_to image_tag("edit.png"), edit_project_path(project) %>
						<%= link_to image_tag("delete.png"), project, method: :delete, data: { confirm: 'Are you sure?' } %>
					<% end %>
				</li>

				<!-- Modal for Each Project -->
				<div id="<%= project.id %>" class="reveal-modal" data-reveal>
					<div class="large-4 column">
						<h2><%= link_to project.title, "http://#{project.url}" %></h2>
						<h5>Technology:</h5>
						<p><%= project.technologies_used %></p>
						<h5>Description:</h5>
						<p><%= markdown project.description.to_s %></p>
						<p><%= link_to image_tag("github.png"), "http://#{project.github}" %></p>
					</div>
					<div class="large-8 column">
						<%= image_tag project.image_url.to_s, :class => 'img-responsive' %>
					</div>
				  <a class="close-reveal-modal">&#215;</a>
				</div>
			<% end %>
		</ul>
	</div>
</div>
