<div class="page-header fadeIn">
	<h1>Projects</h1>
</div>
<div class="row">
	<div class="col-md-12">
	<% @projects.reverse_each do |project| %>
		<div class="col-md-4">
			<div class="well fadeIn">
			<h3><%= project.title %></h3>
			<%= image_tag project.image_url.to_s, :class => 'img-responsive' %>
			<b>Technology</b>:
			<p><%= project.technologies_used %></p>
			<b>Description</b>:
			<p><%= project.description %></p>
			<% if current_user.present? %>
				<%= link_to 'Edit', edit_project_path(project), :class => 'btn btn-primary'%>
				<%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'%>
			<% end %>
			</div>
		</div>
	<% end %>
	</div>
</div>
<% if current_user.present? %>
	<%= link_to 'New Project', new_project_path, :class => 'btn btn-primary'%>
<% end %>

