<h3>Archives</h3>
<div class="accordion" id="accordion2">
	<div class="accordion-group">
		<% if @posts.to_a.empty? %>
			<p>No articles found...</p>
		<% else %>
			<% current_month = 0 %>
			<% current_year = 0 %>
			<% for article in @posts %>
				<% if (article.created_at.year != current_year) %>
					<% if current_year != 0 %>
						</div></div>
					<% end %>
					<% current_year = article.created_at.year %>
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href= <%= "#" + current_year.to_s %>><h3 class="archiveyear"><%= article.created_at.year%></h3></a>
				<% end %>
				<% if (article.created_at.month != current_month || article.created_at.year != current_year)
					current_month = article.created_at.month
					current_year = article.created_at.year
					%>
					<div id= <%= current_year %> class="accordion-body bullet-pad-sm collapse">
						<li><h4><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href= <%= "#" + current_month.to_s %> ><%= (Date::MONTHNAMES[article.created_at.month]) %></a></h4></li>
					<div id= <%= current_month %> class="accordion-body bullet-pad-lg collapse">
				<% end %>
					<li><%= link_to article.title, post_path(article) %></li>
			<% end %>
		<% end %>
	</div>
</div>
