<div class="well">
	<%= form_for(@post) do |f| %>
	<div class="form-group">
		<%= f.text_field :title, placeholder: "title", :class => "form-control"%>
	</div>
	<div class="form-group">
		<%= f.text_area :body, placeholder: "title", :class => "form-control", :rows => "20"%>
	</div>
	<div class="form-group">
		<%= f.label :tag_list, "Tags (separated by commas)" %><br />
	  <%= f.text_field :tag_list %>
  </div>
	<%= f.submit "Submit", :class => 'btn btn-success' %>
	<% end %>
</div>
