<div class="blog-overlay"></div>
<div class="blog-post">
	<% if current_user.present? %>
		<h6><%= link_to image_tag("new.png") + "New Post", new_post_path %></h6>
	<% end %>
	<% @posts.each do |post| %>
    <h6><%= l post.created_at, format: :admin %></h6>
    <h4>
	    <% if post.published? == false && policy(post).publish?%>
				<%= link_to image_tag("publish.png"), post_path(post, post: { published: true }), method: :put, data: { confirm: 'Are you sure you want to publish?'}%>
			<% end %>
			<% if post.published? && policy(post).publish?%>
				<%= link_to image_tag("unpublish.png"), post_path(post, post: { published: false }), method: :put, data: { confirm: 'Are you sure you want to unpublish?'} %>
			<% end %>
			<%= link_to image_tag("edit.png"), edit_post_path(post) %>
			<%= link_to image_tag("delete.png"), post, method: :delete, data: { confirm: 'Are you sure?' } %>
	    <%= link_to post.title, post_path(post) %>
    </h4>
    <h6>Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %><h6>
  <% end %>
</div>
