<div class="row">
	<div class="right">
	  <h4><small>Popular Tags: <%= raw policy_scope(Post).tag_counts_on(:tags).order('count desc').limit(10).map { |t| link_to t, tag_path(t.to_s) }.join(', ') %></small></h4>
	</div>
</div>
<div class="row">
	<% @posts.each do |post| %>
		<div class="medium-3 large-3 column text-right">
			<h4><%= l post.created_at, format: :long %></h4>
			<h4><small>Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></small></h4>
		</div>
		<div class="medium-9 large-9 column">

			<h2><%= link_to post.title, post_path(post) %></h2>
			<p><%= markdown post.body %></p>

			<p><%= link_to 'read more', post %> or <%= link_to 'leave a comment', post %></p>
			<% if current_user.present? %>
				<% if post.published? == false && policy(post).publish?%>
					<%= link_to 'Publish', post_path(post, post: { published: true }), method: :put, data: { confirm: 'Are you sure you want to publish?'}, :class => 'button'%>
				<% end %>
				<% if post.published? && policy(post).publish?%>
					<%= link_to 'Unpublish', post_path(post, post: { published: false }), method: :put, data: { confirm: 'Are you sure you want to unpublish?'}, :class => 'button success' %>
				<% end %>
				<%= link_to 'Edit Post', edit_post_path(post), :class => 'button'%>
				<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button alert'%>
			<% end %>
		</div>
	<% end %>
</div>
<div class="row">
	<div class="right">
		<%= foundation_paginate @posts %>
	</div>
</div>
