<div class="row">
	<div class="text-right">
		<% if current_user.present? %>
			<h6><%= link_to image_tag("new.png") + "New Post", new_post_path %></h6>
		<% end %>
	  <h4><small>Popular Tags: <%= raw policy_scope(Post).tag_counts_on(:tags).order('count desc').limit(10).map { |t| link_to t, tag_path(t.to_s) }.join(', ') %></small></h4>
	</div>
</div>
<div class="row">
	<% @posts.each do |post| %>
		<div class="medium-3 large-3 column text-right">
			<h4><%= l post.created_at, format: :long %></h4>
			<h4><small>Tags: <%= raw post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></small></h4>
			<% if current_user.present? %>
				<% if post.published? == false && policy(post).publish?%>
					<%= link_to image_tag("publish.png"), post_path(post, post: { published: true }), method: :put, data: { confirm: 'Are you sure you want to publish?'}%>
				<% end %>
				<% if post.published? && policy(post).publish?%>
					<%= link_to image_tag("unpublish.png"), post_path(post, post: { published: false }), method: :put, data: { confirm: 'Are you sure you want to unpublish?'} %>
				<% end %>
				<%= link_to image_tag("edit.png"), edit_post_path(post) %>
				<%= link_to image_tag("delete.png"), post, method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end %>
		</div>
		<div class="medium-9 large-9 column">
			<h2><%= link_to post.title, post_path(post) %></h2>
			<p><%= markdown post.body %></p>
			<p><%= link_to 'leave a comment', post %></p>
		</div>
	<% end %>
</div>
<div class="row">
	<div class="right">
		<%= foundation_paginate @posts %>
	</div>
</div>
