<div class="page-header" id="fade">
	<h1>Into the Eye</h1>
	<h4>My Dev Stories</h4>
</div>
<div class="row">
	<div class="col-md-8">
	<% @posts.reverse_each do |post| %>
	<div class="panel panel-default">
		<div class="panel-body">
			<h2><%= link_to post.title, post_path(post) %></h2>
			<div class="pull-left">
				<i class="glyphicon glyphicon-time"></i> <%= l post.created_at, format: :short %>
			</div>
			<div class="pull-right">
				<i class="glyphicon glyphicon-comment"></i> <%= link_to "Comments",
    post_path(post, :anchor => "disqus_thread"),
    :"data-disqus-identifer" => post.id %>
    	</div>
    	<br>
			<p><%= post.body.html_safe %></p>
		</div>
		<% if post.published? == false && policy(post).publish?%>
			<%= link_to 'Publish', post_path(post, post: { published: true }), method: :put, data: { confirm: 'Are you sure you want to publish?'}, :class => 'btn btn-warning'%>
		<% end %>
		<% if post.published? && policy(post).publish?%>
			<%= link_to 'Unpublish', post_path(post, post: { published: false }), method: :put, data: { confirm: 'Are you sure you want to unpublish?'}, :class => 'btn btn-warning' %>
		<% end %>
	<%= link_to 'Edit Post', edit_post_path(post), :class => 'btn btn-primary'%>
	<%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger'%>
	</div>
	<% end %>
	<div class="text-center">
		<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
	</div>
	<%= link_to 'New Post', new_post_path, :class => 'btn btn-primary'%>
	</div>
	<div class="col-md-4">
		<div class="panel">
			<h2>About Me</h2>
			<p>This is me</p>
		</div>
	</div>
</div>
