<div class="blog-overlay"></div>
<div class="blog-post">
	<div class="pag">
		<h2><%= @post.title %></h2>
		<h2><small><%= l @post.created_at, format: :long %></small></h2>
		<h4><small>Tags: <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></small></h4>
		<p><%= markdown @post.body %></p>
		<%= link_to 'Back', posts_path, :class => 'button'%>
		<%= render 'thread' %>
	</div>
</div>

