<ul class="nav">
  <a href="<%= root_path %>"><li><i class="fi-home icons"></i><p>Home</p></li></a>
  <a href="<%= posts_path %>"><li><i class="fi-book icons"></i><p>Blog</p></li></a>
  <a href="<%= skills_path %>"><li><i class="fi-html5 icons"></i><p>Skills</p></li></a>
  <a href="<%= projects_path %>"><li><i class="fi-tablet-portrait icons"></i><p>Projects</p></li></a>
  <a href="https://dl.dropboxusercontent.com/u/89198540/James_Chuang_Resume.pdf"><li><i class="fi-page-csv icons"></i><p>Resume</p></li></a>
  <% if current_user.present? %>
    <%= link_to destroy_user_session_path, method: :delete do %><li><i class='fi-unlock icons'></i><p>Sign Out</p></li><% end %>
  <% end %>
</table>
